# safelist
branches:
  only:
  - master

language: node_js
node_js:
  - "stable"
cache:
  directories:
  - node_modules

before_script:
  - "npm i -g gatsby"
  - "npm i"
script:
  - "npm run preDeploy"
deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN  # Set in the settings page of your repository, as a secure variable
  local_dir: public
  keep_history: true
  repo: ILYMUN/ilymun.github.io
  target_branch: master
  on:
    branch: master
